<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer_wrap">
        <div class="footer_top">
            <div class="ft_info">
                <div class="ft_menu">
                    <div><a href="">개인정보처리방침</a></div>
                    <div><a href="">영상정보처리방침</a></div>
                    <div><a href="">이용약관</a></div>
                    <div><a href="">도서관서비스헌장</a></div>
                    <div><a href="">저작권보호정책</a></div>
                    <div><a href="">뷰어다운로드</a></div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="fb_info">
                <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br />Copyright ⓒ 수성구립 범어도서관. All rights
                    reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>