body {
    margin: 0 auto;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 100%;
    height: auto;
}

/* 페이징 */
.pageInfo_area > ul {
    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정합니다. */
    list-style: none; /* 목록 기호를 숨깁니다. */
    padding: 0; /* 목록의 패딩을 제거합니다. */
    justify-content: center;
}

.pageInfo_area>ul li {
    height: 90px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 0;
    /* line-height: 105px; */
}
.paginate_button {
    cursor: pointer;
    display: inline-block;
    zoom: 1.2;
    display: inline;
    line-height: 24px;
    padding: 3px 12px;
    -webkit-transition: all 120ms ease;
    -moz-transition: all 120ms ease;
    -ms-transition: all 120ms ease;
    -o-transition: all 120ms ease;
    transition: all 120ms ease;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    margin-left: -1px;
    color: #555;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
